.postitem{
  &-inner{
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-title{
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 100%;

    h3{
      margin: 20px 0 10px 0;
    }
  }

  &-main{
    display: flex;
    flex-direction: row;

    &-body{
      width: 100%;
      margin-left: 10px;

      &-top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-delete{

        }

        &-user{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 30%;
          cursor: pointer;

          &:hover{
            h4{
              color: rgba(0, 0, 0, 0.5);
              transition: 0.2s linear all;
            }

            h6{
              color: rgba(0, 191, 255, 0.5);
              transition: 0.2s linear all;
            }
          }

          h4{
            margin-right: 10px;
            font-size: 30px;
            transition: 0.2s linear all;
          }

          h6{
            font-size: 20px;
            color: rgb(0, 191, 255);
            font-weight: 600;
            transition: 0.2s linear all;
          }
        }
      }

      &-content{
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        p{
          width: 80%;
          font-size: 20px;
          margin-left: 20px;
        }

        &-edit{
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 450px){
  .postitem{
    &-inner{
      width: 100vw;
    }

    &-title{
      h3{
        font-size: 35px;
      }
    }

    &-main{
      &-body{
        margin: 15px 0 0 20px;
        width: 60%;

        &-top{
          &-user{
            flex-direction: column;
          }

          &-delete{
            margin-right: 10px;
          }
        }

        &-content{
          p{
            margin: 10px 0 0 0;
            width: 50%;
            word-break: break-all;
          }

          div{
            &:last-child{
              margin: 0 10px 0 0;
            }
          }

          &-edit{
            margin: 0 10px 0 0;
            width: 60%;

            button{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}