@media all and (max-width: 450px) {
  .mobmenu{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    display: none;

    &-inner{
      background-color: white;
      width: 0;
      overflow: hidden;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &-nav{
      margin-top: 20px;
      li{
        margin-bottom: 15px;
        img{
          width: 60px;
          height: 60px;
          filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(98%) contrast(80%);
        }

        &:last-child{
          margin-top: 100px;
        }
      }
    }

    &-logo{
      margin-bottom: 20px;
      img{
        width: 60px;
        height: 60px;
      }
    }
  }
}