.editbutton{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.2s linear all;
}

.editbutton img{
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(98%) contrast(80%);
    transition: 0.2s linear all;
}

.editbutton:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s linear all;
}

.editbutton img:hover{
    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(7500%) hue-rotate(334deg) brightness(97%) contrast(105%);
    transition: 0.2s linear all;
}

@media all and (max-width: 450px){
    .editbutton:hover{
        background: none;
    }

    .editbutton img:hover{
        filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(98%) contrast(80%);
    }
}