.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error h1{
    font-size: 40px;
    margin-top: 40px;
}

.error img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}