.avatar{
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(0, 191, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avatar img{
    width: 60px;
    height: 60px;
    filter: invert(97%) sepia(74%) saturate(5825%) hue-rotate(183deg) brightness(125%) contrast(100%);
}

@media all and (max-width: 400px){
    .avatar{

    }
}