@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body{
  margin: 0px;
  font-family: 'Istok Web', sans-serif;
}

.container{
  width: 700px;
  margin: 0 auto;
}

.container-head{
  width: 100px;
  margin: 0 auto;
}