.input{
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-family: 'Istok Web', sans-serif;
}

.input:focus{
    outline-color: rgb(0, 191, 255);
    outline-width: 1px;
    background-color: #FFFFFF;
}